In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])
df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [4]:
df + 1

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [5]:
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [6]:
df.div(10)

           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0

In [7]:
df - [1, 2]           #Subtract a list  angles by 1 and degrees by 2

           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358

In [8]:
df.mul({'angles': 0, 'degrees': 2})

           angles  degrees
circle          0      720
triangle        0      360
rectangle       0      720

In [9]:
df * 2

           angles  degrees
circle          0      720
triangle        6      360
rectangle       8      720

In [10]:
df %2

           angles  degrees
circle          0        0
triangle        1        0
rectangle       0        0

In [11]:
df ** 2 #power

           angles  degrees
circle          0   129600
triangle        9    32400
rectangle      16   129600

In [12]:
df // 4

           angles  degrees
circle          0       90
triangle        0       45
rectangle       1       90

In [13]:
df.sub({'angles': 0, 'degrees': 2})

           angles  degrees
circle          0      358
triangle        3      178
rectangle       4      358

In [14]:
df.subtract({'angles': 0, 'degrees': 2})

           angles  degrees
circle          0      358
triangle        3      178
rectangle       4      358