In [ ]:
x="1"
x

'1'

In [ ]:
x=["a","b",21]
print(x[0])
x[-1]

a

21

In [ ]:

x=["abc","def","ghi","jkl","mno"]
print(x)
x[1:4]=["hello","hi"]
x

['abc', 'def', 'ghi', 'jkl', 'mno']

['abc', 'hello', 'hi', 'mno']

In [ ]:
#APPEND
x=["abc","def","ghi","jkl","mno"]
print(x)
x.append("hello")
x

['abc', 'def', 'ghi', 'jkl', 'mno']

['abc', 'def', 'ghi', 'jkl', 'mno', 'hello']

In [ ]:
#POP
x=["abc","def","ghi","jkl","mno"]
print(x)
y=x.pop(1)
x
y

['abc', 'def', 'ghi', 'jkl', 'mno']

'def'

In [85]:
#INSERT
x=["abc","def","ghi","jkl","mno"]
print(x)
x.insert(1,"hi")
x

['abc', 'def', 'ghi', 'jkl', 'mno']

['abc', 'hi', 'def', 'ghi', 'jkl', 'mno']

In [ ]:
x=["abc","cdf"]
y=x.copy()
x.append("hello")
print(x)
y

['abc', 'cdf', 'hello']

['abc', 'cdf']

In [ ]:
x=["abc","cdf"]
x=y
x.append("hello")
print(x)
y

['abc', 'cdf', 'hello', 'hello']

['abc', 'cdf', 'hello', 'hello']

In [ ]:
#COUNT
x=["abc","def","ghi","jkl","mno","abc","def","ghi","jkl","helloo","mno","abc","def","ghi","jkl","mno"]
x.count("abc")

3

In [ ]:
#FOR LOOP
x=["abc","def","ghi","jkl"]
for i in x:
    if i == "ghi":
        break
    print(i)

abc
def

In [ ]:
x=["abc","def","ghi","jkl"]
for i in x:
    if i == "ghi":
        continue
    print(i)

abc
def
jkl

In [46]:

for i in range(21):
    print(i*i,end=" ")

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

In [ ]:
import random
x=["stone","paper","scissor"]
print(random.choice(x))

paper

In [ ]:
x=10
y=5
if x>y:
    print("x is greater")
else:
    print("y is greater")

x is greater

In [ ]:
a=int(input("Enter a number"))
if a>0:
    print("a is a positive number")
elif a == 0:
    print("a is Zero")
else:
    print("a is a negative number")

a is a positive number

In [ ]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
c=int(input("Enter a number"))
if a>c & a>b:
    print(a,"is greater")
elif b>a & b>c:
    print(b,"is greater")
else:
    print(c,"is greater ")

6 is greater

In [ ]:
a = 0
while a <= 20:
    if a%2 != 0:
        print(a, end=" ")
    a+=1

In [42]:
a = 1
while a < 10:
    print(a,end=" ")
    if a == 6:
        break
    a+=1

1 2 3 4 5 6

In [41]:
a = 1
while a < 10:
    a+=1
    if a == 6:
        continue
    print(a,end=" ")

2 3 4 5 7 8 9 10

In [77]:
x=["abc","def","ghi","jkl","mno"]
x.reverse()
x

['mno', 'jkl', 'ghi', 'def', 'abc']

In [46]:
x=["abc","def","ghi","jkl","mno"]
x.sort()

# LIST COMPREHENSION

TO INSERT IN LIST
 - insert
 - extend
 - append

In [51]:
a=[]
for i in range(0,20):
    if i%2 == 0:
        a.append(i)
print(a,end=" ")

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
a=[number for number in range(1,20) if number%2 ==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
a=[]
for i in range(0,20):
    if i%2 != 0:
        a.append(i)
print(a,end=" ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
a=[number for number in range(1,20) if number%2 !=0]
print(a)
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [52]:
import array as abc
a=abc.array('i',[1,2,3])
b=abc.array('b',[-1,2,3,4,5,6])
print("Length of the Array b is ",len(b))
print("b[3]",b[3])
print(a,end=" ")

Length of the Array b is  6
b[3] 4
array('i', [1, 2, 3])

# TUPLE

- immutable
- allow duplicates

Data Cant be inserted into a tuple

TO INSERT IN TUPLE
 - Convert to List

In [59]:
a=("a","b","c",12,1.5) #Tuple
b=["a","b","c",12,1.5] #List
print("Tuple",a)
print("List",b)

Tuple ('a', 'b', 'c', 12, 1.5)
List ['a', 'b', 'c', 12, 1.5]

In [76]:
a=("a","b","c",12,1.5)
print("a[0] =",a[0])
print("Length =",len(a))
print(a[1:4])

a[0] = a
Length = 5
('b', 'c', 12)

In [75]:
a=("a","b","c",12,1.5,43,6,6,5,3,6,3,7,)
print(a[1:13:3])
print("a[start:end:step(to skip)]")

('b', 1.5, 6, 6)
a[start:end:step(to skip)]

In [84]:
a=("a","b","c",12,1.5)
b=list(a) #Converted Tuple into a List
print("Before Appending")
print(b)
b.append("hello")
print("After Appending")
print(b)

Before Appending
['a', 'b', 'c', 12, 1.5]
After Appending
['a', 'b', 'c', 12, 1.5, 'hello']

In [96]:
a="hello","world"
b="hello"
c="hello",
print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [105]:
a=("apple","orange","cherry",2,43,65,2)
(*abc,blue,green)=a
print(green,blue)
abc

2 65
20

10

In [112]:
#ANCHOR - SWAPPING

a,b=10,20 
print("Before Swapping")
print("a=",a)
print("b=",b)
b,a=a,b

print("After Swapping")
print("a=",a)
print("b=",b)

Before Swapping
a= 10
b= 20
After Swapping
a= 20
b= 10

zip() Function

In [119]:
a=[1,2,3]
b="hello","world"
list(zip(a,b))

[(1, 'hello'), (2, 'world')]

Write a pgm  to count the repeated items in a tuple

In [122]:
x="abc","def","ghi","jkl","mno","abc","def","ghi","jkl","helloo","mno","abc","def","ghi","jkl","mno"
x.count("abc")

3

In [133]:
a=1,2,3,4
print(1 in a)
print(2 not in a)
5 in a

True
False

False

Inverse zip() Function

In [135]:
a=("hello",1200),("world",100),("hi",1800)
name,number=zip(*a)
print(name)
print(number)

('hello', 'world', 'hi')
(1200, 100, 1800)

# SETS

 - A set can contain different data types
 - Sets cannot have two items with the same value
 - True and 1 is considered the same value
 - False and 0 is considered the same value
 - unindexed
 - unordered
 - unchangable

In [14]:
a={"apple","hello",3,4,5,"World",True}  #True=1 and False=0
a

{3, 4, 5, True, 'World', 'apple', 'hello'}

In [18]:
a={"apple","hello",3,4,5,"World","World","apple"}  #Duplicate values are considered as one
a

{3, 4, 5, 'World', 'apple', 'hello'}

In [19]:
a={"apple","hello",3,4,5,"World","World","apple"}  
print("apple" in a) # To check if a string is available in the set

True

- Difference between Sets [.difference()]

In [31]:
a={"apple","hello",3,4,5,"World","World","apple"}  
b={3,"computer",34,56,"HI","apple"}
print("{a-b} = ",a.difference(b))  
            #OR
print("{a-b} = ",a-b)

print("{b-a}",b.difference(a))  
            #OR
print("{b-a}",b-a)

{a-b} =  {'World', 4, 5, 'hello'}
{a-b} =  {'World', 4, 5, 'hello'}
{b-a} {56, 'HI', 34, 'computer'}
{b-a} {56, 'HI', 34, 'computer'}

- Difference between Sets [.symmetric_difference()]

In [35]:
a={"apple","hello",3,4,5,"World","World","apple"}  
b={3,"computer",34,56,"HI","apple"}
print(a.symmetric_difference(b))

{4, 5, 'computer', 'HI', 34, 'hello', 'World', 56}

- Remove Set Items [.discard()]

In [34]:
a={"apple","hello",3,4,5,"World","World","apple"}  
print(a)
a.discard("apple")
a

{3, 4, 5, 'hello', 'apple', 'World'}

{3, 4, 5, 'World', 'hello'}

- Add an Item to the set [.add()]

In [36]:
a={"apple","hello",3,4,5,"World","World","apple"}  
print(a)
a.add("orange")
a

{3, 4, 5, 'hello', 'apple', 'World'}

{3, 4, 5, 'World', 'apple', 'hello', 'orange'}

- Union of sets [.union()]

In [45]:
a={1,2,3}
b={4,5,6}
c={"abc","def","ghi"}
print(a.union(b,c))

{1, 2, 3, 4, 5, 6, 'ghi', 'def', 'abc'}

- Subset and Superset [.issubset()]

In [51]:
a={1,2,3}
b={4,5,6,7,8,1,2,3}
print(a.issubset(b)) 
print(b.issuperset(a))

True
True

- Disjoint [.isdisjoint()]
- two sets are not connected(dont have any common elements)

In [53]:
a={1,2,3}
b={4,5,6,7,8}
print(a.isdisjoint(b))

True

-Intersection [.intersection()]
-common elements

In [55]:
a={1,2,3}
b={4,5,6,7,8,1,2}
print(a.intersection(b))

{1, 2}

# DICTIONARIES

dict{
    "key":"value",
}

[.keys]
[.get()]

In [71]:
dict={
    "Name":"shafi",
    "Age":21,    
    "Year":2003,    
    "Married":False,    
}
for key,value in dict.items():
    print(key,":",value)

Name : shafi
Age : 21
Year : 2003
Married : False

-pop

[.pop(key)] To remove a specific key and value
[.popitem()] To remove the last key and value

In [106]:
dict={
    "Name":"shafi",
    "Age":21,
    "Year":2003,    
    "Married":False,    
}
dict.pop("Age")
print(dict)

{'Name': 'shafi', 'Year': 2003, 'Married': False}

# LAMBDA

In [3]:
x= lambda a,b:a+b
print(x(5,8))

13

- Lambda with map()

In [18]:
a=(6,3,6)
list(map(lambda x:(float(9)/5)*x +32,a))

[42.8, 37.4, 42.8]

- lambda with filter()

In [16]:
fib=(0,1,1,2,3,5,8,13,21,34,55)
list(filter(lambda x: x % 2 ==0, fib))

[0, 2, 8, 34]

In [27]:
a=[number for number in range(1,40)]
list(filter(lambda x: x % 2 ==0, a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

- lambda with reduce()

In [30]:
from functools import reduce
reduce(lambda x,y:x+y,[500,294,3848,1,2,3])

4648

In [34]:
a=lambda x,y:x if x>y else y
reduce(a,[23,4,5])

23

# ENUMERATE